<!DOCTYPE html>
<html lang="en">

<head>
    <style>
        #www {
            padding: 35px;
            background-color: gray;
            border: 1px solid #DDD;
        }

        .container {
            margin-right: auto;
            margin-left: auto;
        }
    </style>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>



    <div class="container-fluid">

        <div class="row">



            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 ">

                <div class="container">
                    <div class="card border-dark" >
                        <div class="card-header"><a href="#" ><img src="pexels-luis-quintero-1713953.jpg" class="card-img-top img-responsive "></a>
                        </div>
                        <div class="card-body">
                            <ul class="list-group">
                                <li class="list-group-item"><h4> Title </h4></li>
                                <li class="list-group-item"> this project help people ( descreption )this project help people ( descreption )
                                    this project help people ( descreption )this project help people ( descreption )this project help people 
                                    ( descreption )this project help people ( descreption )this project help people ( descreption )this project
                                     help people ( descreption )this project help people ( descreption )this project help people ( descreption )t
                                     his project help people ( descreption ) </li>
                                <li class="list-group-item">50.000</li>
                            </ul>
                        </div>
                        <div class="card-footer">
                            <div class="text-center">
                                <button type="signup" class="btn btn-primary">show project</button>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 ">

                <div class="container">
                    <div class="card border-dark" >
                        <div class="card-header"><a href="#" ><img src="pexels-luis-quintero-1713953.jpg" class="card-img-top img-responsive "></a>
                        </div>
                        <div class="card-body">
                            <ul class="list-group" >
                                <li class="list-group-item"><h4> Title </h4></li>
                                <li class="list-group-item"> this project help people ( descreption )this project help people ( descreption )
                                    this project help people ( descreption )this project help people ( descreption )this project help people 
                                    ( descreption )this project help people ( descreption )this project help people ( descreption )this project
                                     help people ( descreption )this project help people ( descreption )this project help people ( descreption )t
                                     his project help people ( descreption ) </li>
                                <li class="list-group-item">50.000</li>
                            </ul>
                        </div>
                        <div class="card-footer">
                            <div class="text-center">
                                <button type="signup" class="btn btn-primary">show project</button>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 ">

                <div class="container">
                    <div class="card border-dark" >
                        <div class="card-header"><a href="#" ><img src="pexels-luis-quintero-1713953.jpg" class="card-img-top img-responsive "></a>
                        </div>
                        <div class="card-body">
                            <ul class="list-group " >
                                <li class="list-group-item"><h4> Title </h4></li>
                                <li class="list-group-item"> this project help people ( descreption )this project help people ( descreption )
                                    this project help people ( descreption )this project help people ( descreption )this project help people 
                                    ( descreption )this project help people ( descreption )this project help people ( descreption )this project
                                     help people ( descreption )this project help people ( descreption )this project help people ( descreption )t
                                     his project help people ( descreption ) </li>
                                <li class="list-group-item">50.000</li>
                            </ul>
                        </div>
                        <div class="card-footer">
                            <div class="text-center">
                                <button type="signup" class="btn btn-primary">show project</button>

                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </div>

        <div style="height: 30px;" ></div>
        <div class="row">



            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 ">

                <div class="container">
                    <div class="card border-dark" >
                        <div class="card-header"><a href="#" ><img src="pexels-luis-quintero-1713953.jpg" class="card-img-top img-responsive "></a>
                        </div>
                        <div class="card-body">
                            <ul class="list-group">
                                <li class="list-group-item"><h4> Title </h4></li>
                                <li class="list-group-item"> this project help people ( descreption )this project help people ( descreption )
                                    this project help people ( descreption )this project help people ( descreption )this project help people 
                                    ( descreption )this project help people ( descreption )this project help people ( descreption )this project
                                     help people ( descreption )this project help people ( descreption )this project help people ( descreption )t
                                     his project help people ( descreption ) </li>
                                <li class="list-group-item">50.000</li>
                            </ul>
                        </div>
                        <div class="card-footer">
                            <div class="text-center">
                                <button type="signup" class="btn btn-primary">show project</button>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 ">

                <div class="container">
                    <div class="card border-dark" >
                        <div class="card-header"><a href="#" ><img src="pexels-luis-quintero-1713953.jpg" class="card-img-top img-responsive "></a>
                        </div>
                        <div class="card-body">
                            <ul class="list-group" >
                                <li class="list-group-item"><h4> Title </h4></li>
                                <li class="list-group-item"> this project help people ( descreption )this project help people ( descreption )
                                    this project help people ( descreption )this project help people ( descreption )this project help people 
                                    ( descreption )this project help people ( descreption )this project help people ( descreption )this project
                                     help people ( descreption )this project help people ( descreption )this project help people ( descreption )t
                                     his project help people ( descreption ) </li>
                                <li class="list-group-item">50.000</li>
                            </ul>
                        </div>
                        <div class="card-footer">
                            <div class="text-center">
                                <button type="signup" class="btn btn-primary">show project</button>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 ">

                <div class="container">
                    <div class="card border-dark" >
                        <div class="card-header"><a href="#" ><img src="pexels-luis-quintero-1713953.jpg" class="card-img-top img-responsive "></a>
                        </div>
                        <div class="card-body">
                            <ul class="list-group " >
                                <li class="list-group-item"><h4> Title </h4></li>
                                <li class="list-group-item"> this project help people ( descreption )this project help people ( descreption )
                                    this project help people ( descreption )this project help people ( descreption )this project help people 
                                    ( descreption )this project help people ( descreption )this project help people ( descreption )this project
                                     help people ( descreption )this project help people ( descreption )this project help people ( descreption )t
                                     his project help people ( descreption ) </li>
                                <li class="list-group-item">50.000</li>
                            </ul>
                        </div>
                        <div class="card-footer">
                            <div class="text-center">
                                <button type="signup" class="btn btn-primary">show project</button>

                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </div>
        
    </div>








</body>

</html>