<!DOCTYPE html>
<html lang="en">
  <head>
    <style>
      #www {
        padding: 35px;
        background-color: gray;
        border: 1px solid #ddd;
      }

      .container {
        margin-right: auto;
        margin-left: auto;
      }
      .form-control-borderless {
        border: none;
      }

      .form-control-borderless:hover,
      .form-control-borderless:active,
      .form-control-borderless:focus {
        border: none;
        outline: none;
        box-shadow: none;
      }
    </style>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"/>

    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway"/>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" rel="stylesheet"/>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>

  <body> 
    <!-- <div class="container pl-3 col-md-12 col-lg-12 col-xl-12 col-sm-12">
      <div class="row ml-3">
        <div class="col-md-12 col-lg-12 col-xl-12 col-sm-12">
          <div  class="pt-5 row justify-content-center ">
            <span class="w3-margin-right">Filter:</span> 
            <a href="" class="btn btn-info">ALL</a>
            <a href=""  class="btn btn-ligth text-info">
              <i class="fa fa-ambulance w3-margin-right text-info"></i>Medical
            </a>
            <a href=""  class="btn btn-ligth text-info">
              <i class="fas fa-clinic-medical w3-margin-right text-info"></i>Mamorical
            </a>
            <a href=""  class="btn btn-ligth text-info">
              <i class="fas fa-hospital-user w3-margin-right text-info"></i>Emergency
            </a>
            <a href=""  class="btn btn-ligth text-info">
              <i class="fas fa-money-bill-alt w3-margin-right text-info"></i>Nonprofit
            </a>
            <a href=""  class="btn btn-ligth text-info">
              <i class="fas fa-book-reader w3-margin-right text-info"></i>Education
            </a>
          </div>
        </div>
      </div>
    </div> -->
    <!-- search bar -->
    <div class="container">
      <br />
      <div class="row justify-content-center">
        <div class="col-12 col-md-10 col-lg-8">
          <form class="card card-sm border-0">
            <div class="card-body row no-gutters align-items-center">
              <!--end of col-->
              <div class="col">
                <input class="form-control form-control-lg form-control-borderless" type="search" placeholder="Search topics or keywords" />
              </div>
              <!--end of col-->
              <div class="col-auto pl-2">
                <button class="btn btn-lg btn-info" type="submit">
                  Search
                </button>
              </div>
              <!--end of col-->
            </div>
          </form>
        </div>
        <!--end of col-->
      </div>
    </div>

    
    <div class="container-fluid">

      <div class="row my-2 px-5 ">
        <div class="col-sm-2 col-md-2 col-lg-2">
          <h4>Categories</h4>
          <form action="">
            <div class="form-check pb-2">
              <label class="form-check-label">
                <input type="checkbox" class="form-check-input " value="" checked>ALL
              </label>
            </div>
            <div class="form-check pb-2">
              <label class="form-check-label">
                <input type="checkbox" class="form-check-input" value="">Medical
              </label>
            </div>
            <div class="form-check pb-2">
              <label class="form-check-label">
                <input type="checkbox" class="form-check-input" value="" >Mamorical
              </label>
            </div>
            <div class="form-check pb-2">
              <label class="form-check-label">
                <input type="checkbox" class="form-check-input" value="" >Emergency
              </label>
            </div>
            <div class="form-check pb-2">
              <label class="form-check-label">
                <input type="checkbox" class="form-check-input" value="" >Nonprofit
              </label>
            </div>
            <div class="form-check pb-2">
              <label class="form-check-label">
                <input type="checkbox" class="form-check-input" value="" >Education
              </label>
            </div>
            <button class="btn btn-info m-3">filter</button>
          </form>
          
        </div>

        <div class="col-sm-10 col-md-10 col-lg-10">
          <div class="row">
            <div class="col py-2">
              <a href="" class="card border-0 shadow-sm text-dark" data-aos="fade-left" data-aos-delay='100'>
                  <img src="bg_imgs/bg2.jpg" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text " >This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                  </div>
              </a>
            </div>
            <div class="col py-2">
              <a href="" class="card border-0 shadow-sm text-dark" data-aos="fade-left" data-aos-delay='100'>
                  <img src="bg_imgs/bg2.jpg" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text " >This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                  </div>
              </a>
            </div>
            <div class="col py-2">
              <a href="" class="card border-0 shadow-sm text-dark" data-aos="fade-left" data-aos-delay='100'>
                  <img src="bg_imgs/bg2.jpg" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text " >This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                  </div>
              </a>
            </div>
          </div>
          <div class="row ">
            <div class="col py-2">
                <a href="" class="card border-0 shadow-sm text-dark" data-aos="fade-left" data-aos-delay='100'>
                    <img src="bg_imgs/bg2.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Card title</h5>
                      <p class="card-text " >This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                    </div>
                </a>
            </div>
            <div class="col py-2">
              <a href="" class="card border-0 shadow-sm text-dark" data-aos="fade-left" data-aos-delay='100'>
                  <img src="bg_imgs/bg2.jpg" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text " >This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                  </div>
              </a>
            </div>
            <div class="col py-2">
              <a href="" class="card border-0 shadow-sm text-dark" data-aos="fade-left" data-aos-delay='100'>
                  <img src="bg_imgs/bg2.jpg" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text " >This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                  </div>
              </a>
          </div>
            
          </div>
        </div>

      </div>
    </div>
  </body>
</html>
